# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.vercel/

# Env files (no subir claves sensibles)
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/
*.swp

# Tailwind cache
tailwind.config.js
postcss.config.js
